.table tr td img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 4px;
}

td span {
    cursor: pointer;
}

td {
    color: var(--primary-color);
}
