.footer {
  position: relative;
  bottom: 0;
  background: var(--primary-color);
  padding: 20px 0px;
}

.footer h1,
h4 {
  color: #fff;
}
.footer_box li {
  background-color: var(--primary-color);
  color: #fff;
}
.footer_box li:hover a {
  color: #ccc;
}
.row > div {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer_box span {
    display: flex;
    gap: 8px;
    font-size: 12px;
  }
  .row > div {
    margin-bottom: 4px;
  }
  .menuMobile {
    display: inline-block;
    width: auto;
  }
}
